#home #main{
    border-radius: 10px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    min-height: 300px;
    text-align: center;
}
#header{
    width: 100%;
    height: 70px;
    background-color: #326a67;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #ffd55c;
    max-width: 1200px;
    min-width: 600px;
}
#header div{
    display: inline-block;
    padding: 0 10px;
}
#header .headerName{
    color: white;
}
#header div.button{
    background-color: #5c8adb;
    color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    text-decoration: none;
}
#header div a {
    color: white;
    text-decoration: none;
    font-size: 0.85em;
}
#header .logo{
    color: #ffd55c;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.center{
    margin: 0 auto;
    max-width: max-content;
}
.centerText{
    text-align: center;
}
.padding{
    padding: 0 5px 0;
}
.padding20{
    padding: 0 20px 0;
}
.right{
    float: right;
}
div.error{
    color: red;
    background-color: #e4bdcb;
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}
span.error{
    font-size: 0.8em;
    padding-left: 5px;
}
#home a {
    text-decoration: none;
}
.loginBlock {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
.loginBlock a{
    text-decoration: none;
}
.insideTopic{
    color: #a62822;
}
/*add new service----------------------------------------*/
#addService{
    border-radius: 10px;
    max-width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background-color: #ffd55c;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
#addService .inline{
    display: inline-block;
}
#addService .top{
    vertical-align: top;
}
#addService th{
    font-weight: normal;
}
#addService .short input{
    width: 60px;
}
#addService .medium input{
    width: 120px;
}
#addService .large textarea{
    width: 50%;
    height: 20%;
}
#addService table p{
    text-align: left;
}
/*service details--------------------------------------------*/
body {
    background-color: #ffffff;
}
#serviceDetails{
    font-size: 0.9em;
}
.topic{
    color: darkblue;
}
#serviceDetails .insideTopicFuture{
    color: #1976d1;
    font-weight: bold;
    margin-right: 55px;
    text-align: center;
}
#serviceDetails .insideTopicCurrent{
    color: darkgreen;
    font-weight: bold;
    margin-right: 55px;
    text-align: center;
}
#serviceDetails .insideTopicPast{
    color: darkred;
    font-weight: bold;
    margin-right: 55px;
    text-align: center;
}
#serviceDetails .mainDetails {
    margin-right: 20px;
}
#serviceDetails .left{
    float: left;
}
#serviceDetails .right{
    float: right;
}
#serviceDetails .mainDetails, .secondaryDetails{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    width: 47%;
    min-width: 400px;
    max-width: 600px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
#serviceDetails table{
    font-size: 0.9em;
}
#serviceDetails table p{
    text-align: left;
}
#serviceDetails .lists{
    margin-bottom: 15px;
}
#serviceDetails .lists .topic{
    display: block;
    font-weight: bold;
}
#serviceDetails #category, #tag{
    width: max-content;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9em;
}
#serviceDetails #panel{
    float: right;
    max-width: max-content;
}
#serviceDetails #panel a{
    display: block;
}
#serviceDetails #category .content, #tag .content{
    display: block;
    border-radius: 5% 20% 5%;
    background-color: #97b0cb;
    padding: 2px;
    width: max-content;
    margin-bottom: 2px;
}
#serviceDetails #newsFeed, #offers{
    font-size: 0.85em;
}
#serviceDetails #newsFeed .contentTopic, #offers .contentTopic{
    color: #003e00;
    font-weight: bold;
}
#serviceDetails .itemBodyFuture{
    background-color: #d5f1fd;
    padding: 0 2px;
}
#serviceDetails .itemBodyCurrent{
    background-color: #92ff94;
    padding: 0 2px;
}
#serviceDetails .itemBodyPast{
    background-color: #fdcdc4;
    padding: 0 2px;
}
#serviceDetails #newsFeed span, #offers span{
    display: block;
}
#serviceDetails #newsFeed .content, #offers .content{
    padding: 2px;
    margin-left: 10px;
}
#serviceDetails #picture img{
    border-bottom: 1px solid #326a67;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(16,14,23,.25);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaaaaa;
    margin: 0.5em 0;
    padding: 0;
}
hr.thick{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #828282;
    margin: 0.5em 0;
    padding: 0;
}
#serviceDetails h3{
    text-align: center;
}
#serviceDetails .empty{
    margin: 5px 0 5px 10px;
}
#serviceDetails a{
    text-decoration: none;
}
#serviceDetails .secondaryDetails button.functionalButton {
    padding: 0 2px;
    margin: 2px;
    font-size: 0.8em;
    border-radius: 4px;
    background-color: #326a67;
    color: white;
}

#serviceDetails .secondaryDetails button.functionalButton:hover {
    background-color: #8c5d50;
    color: white;
}
#serviceDetails button{
    font-size: 0.9em;
}
/*service Update--------------------------------------------*/
#addService .right{
    float: right;
}
/*Business User Dashboard--------------------------------------------*/
#mainDashboard{
    border-radius: 10px;
    width: 70%;
    min-width: 400px;
    max-width: 1100px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
    padding: 10px;
}
#mainDashboard .inline{
    display: inline-block;
    vertical-align: top;
}
#mainDashboard #info{
    margin-right: 10px;
}
.alignRight{
    text-align: right;
}
.block{
    display: block;
}
/*Business Service Categories--------------------------------------------*/
div#serviceCategories {
    border-radius: 10px;
    width: 80%;
    min-width: 400px;
    max-width: 1300px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16, 14, 23, .5);
    border: 2px solid #326a67;
    padding: 5px;
    height: max-content;
}
div#serviceCategories .categoryTitle{
    display: block;
    font-weight: bold;
}
div#serviceCategories .mainCategory{
    display: inline-block;
    vertical-align: top;
    min-width: 120px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #326a67;
    padding: 5px;
    margin-bottom: 10px;
}
div#serviceCategories .checkbox{
    display: inline-block;
}
.base{
    border-radius: 10px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16, 14, 23, .5);
    border: 2px solid #326a67;
    padding: 5px;
}
.medium input{
    width: 120px;
}
#newsFeed textarea{
    width: 80%;
    height: 250px;
    vertical-align: top;
}



