div.error{
    color: red;
    background-color: #e4bdcb;
    border-color: red;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}
span.error{
    font-size: 0.8em;
    padding-left: 5px;
}
.loginBlock {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffd55c;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
.loginBlock a{
    text-decoration: none;
}
/*add new service*/
#addService{
    border-radius: 10px;
    max-width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background-color: #ffd55c;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
#addService .inline{
    display: inline-block;
}
#addService .top{
    vertical-align: top;
}
#addService th{
    font-weight: normal;
}
#addService .short input{
    width: 60px;
}
#addService .medium input{
    width: 120px;
}
#addService .large textarea{
    width: 50%;
    height: 20%;
}
#addService table p{
    text-align: left;
}
/*service details--------------------------------------------*/
body {
    background-color: #ffffff;
}
#serviceDetails{
    width: 90%;
    margin: 0 auto;
    font-size: 0.9em;
}
#serviceDetails .topic{
    color: darkblue;
}
#serviceDetails .insideTopic{
    color: darkblue;
    font-weight: bold;
}
#serviceDetails .mainDetails {
    margin-right: 20px;
}
#serviceDetails .mainDetails, .secondaryDetails{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    width: 47%;
    min-width: 400px;
    background-color: #ffd55c;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 30px rgba(16,14,23,.5);
    border: 2px solid #326a67;
}
#serviceDetails table{
    font-size: 0.9em;
}
#serviceDetails table p{
    text-align: left;
}
#serviceDetails .lists{
    margin-bottom: 15px;
}
#serviceDetails .lists .topic{
    display: block;
    font-weight: bold;
}
#serviceDetails #category, #tag {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9em;
}
#serviceDetails #category .content, #tag .content{
    display: block;
    border-radius: 5% 20% 5%;
    background-color: #cbcbcb;
    padding: 2px;
    width: max-content;
}
#serviceDetails #newsFeed, #offers{
    font-size: 0.85em;
}
#serviceDetails #newsFeed .contentTopic, #offers .contentTopic{
    color: #003e00;
    font-weight: bold;
}
#serviceDetails .itemBody{
    background-color: #fdfdfd;
    margin-bottom: 10px;
}
#serviceDetails #newsFeed span, #offers span{
    display: block;
}
#serviceDetails #newsFeed .content, #offers .content{
    padding: 2px;
    margin-left: 10px;
}
#serviceDetails #picture{
    margin: 0 auto 10px;
    max-width: 60%;
}
#serviceDetails #picture img{
    border: 5px solid #326a67;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(16,14,23,.25);
}
#serviceDetails hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}
#serviceDetails h3{
    text-align: center;
}
#serviceDetails .empty{
    margin: 5px 0 5px 10px;
}
#serviceDetails a{
    text-decoration: none;
}




